* {
  font-family: "Poppins", sans-serif;
  font-family: "PT Sans", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #effafa;
}

.sidebar {
  display: flex;
  align-items: center;
  background-color: #fd7401;
}

.namalogo {
  margin-left: 10px;
  font-family: "Poppins";
  font-size: 28px;
  font-weight: 600;
  color: white;
}

nav {
  display: flex;
  background-color: #ecbc76;
  height: 60px;
  align-items: center;
}

nav ul {
  position: absolute;
  left: 0;
  flex-direction: column;
  background-color: #e0e0e0;
  top: 0;
  height: 100vh;
  display: flex;
  list-style: none;
  width: 25%;
  transform: translateX(-100%);
  transition: all 1s;
  box-shadow: 0 0 20px #999999;
}

.dash1 {
  padding: 7px 150px 7px 0;
  background-color: #effafa;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 40px;
  text-align: left;
  box-shadow: 0px 0px 10px #999999;
}
.dash1:hover {
  background-color: #fd7401;
  color: white;
}
.dash2 {
  padding: 7px 150px 7px 0;
  background-color: #effafa;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 40px;
  text-align: left;
  box-shadow: 0px 0px 10px #999999;
}
.dash2:hover {
  background-color: #fd7401;
  color: white;
}
.dash3 {
  padding: 7px 120px 7px 0;
  background-color: #effafa;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 40px;
  text-align: left;
  box-shadow: 0px 0px 10px #999999;
}
.dash3:hover {
  background-color: #fd7401;
  color: white;
}

nav ul li a {
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 600;
  color: black;
  padding-right: 60px;
}

nav ul li img {
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 10px;
  padding-top: 5px;
}

.toggle {
  display: flex;
  margin: 20px;
  flex-direction: column;
  height: 20px;
  left: 0;
  justify-content: space-between;
  position: relative;
}

.toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -10px;
  top: -3px;
  cursor: pointer;
  z-index: 2;
}

.toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
}

.logo {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

nav ul.slide {
  transform: translateX(0);
}

.logo_profil {
  margin-left: auto;
  margin-right: 40px;
  margin-top: 20px;
  width: 40px;
  height: 40px;
}

.menu-header {
  margin-left: 70%;
}
.logout {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 500;
  color: black;
  margin-right: 10px;
  padding: 5px 20px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #effafa;
}
.logout:hover {
  background-color: #fd7401;
  color: white;
}

.row1 {
  display: flex;
  margin-top: 3px;
  background-color: #ecbc76;
  height: 300px;
  z-index: -1 -1 -1 -1;
}
.row1_2 h2 {
  margin-top: 50px;
  font-size: 35px;
}
.row1_2 {
  font-size: 20px;
}

.row2 {
  margin-top: 30px;
  margin-left: 50px;
}

.buat-kelas, .gabung-kelas{
  background-color: #fd7401;
  padding: 5px 6px;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'poppins';
  font-size: 15px;
  font-weight: 500;
}

.kode-judul {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.kode-form {
  margin-left: 20px;
}
.kelas {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border: none;
  outline: none;
  margin-top: 10px;
}
.submit {
  margin-top: 8px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: #fd7401;
  color: white;
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.submit:hover {
  background-color: transparent;
  color: black;
}
#kodeKelas {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 400;
  margin-top: 5px;
}
